input {
  max-width: 100%;
}

.fancy-input, .fancy-textarea, .fancy-group {
  margin: 1rem auto;
}

.fancy-input>label, .fancy-textarea>label {
  display: block;
  padding: 0 0.25rem 0.25rem;
}

.fancy-input>input, 
.fancy-textarea>textarea {
  display: block;
  width: 100%;
  padding: 0.25rem 0.375rem;
  outline: none;
  border-radius: 0;
  border: 2px solid var(--color-border);
  line-height: inherit;
  font-family: inherit;
  color: inherit;
  font-size: 1rem;
}

.fancy-textarea>textarea {
  height: 15rem;
  resize: none;
}

*:invalid, 
.fancy-group[invalid="true"],
.fancy-textarea[invalid="true"]>textarea, 
.fancy-input[invalid="true"]>input,
input[invalid="true"] {
  border-color: var(--color-bad);
}


input[type="text"]:focus, input[type="number"]:focus, 
input[type="email"]:focus, input[type="password"]:focus,
input[type="phone"]:focus, textarea:focus {
  border-color: var(--color-accent);
}

input[type="radio"]+label, 
input[type="checkbox"]+label {
  color: var(--color-fore-2);
  padding-left: 0.5rem;
}

input[type="radio"]:checked+label, 
input[type="checkbox"]:checked+label {
  color: inherit;
}

.fancy-checkbox-button,
.fancy-radiobox-button {
  display: inline-block; 
  height: 1.5rem; 
  border: 2px solid var(--color-border); 
  margin-right: 0.5rem;
  background-color: var(--color-back-0);
  /*border-radius: 2px;*/
}

.fancy-checkbox-label,
.fancy-radiobox-label {
  cursor: default;
}

.fancy-checkbox-button[checked="true"],
.fancy-radiobox-button[checked="true"] {
  border-color: var(--color-accent);
}

.fancy-group>header {
  margin: 0 0.25rem 0.25rem;
}

.fancy-group>main>* {
  margin: 0.25rem auto;
}

/*
@media screen and (max-width: 759px)
{
  .fancy-group>main {
    border: 2px solid var(--color-back-2);
    padding: 0.25rem 0.375rem 0.125rem;
  }
}

@media screen and (min-width: 760px) 
{
  .fancy-input>label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 0.25rem 0.5rem;
  }

  .fancy-input>input {
    padding: 0.25rem 1rem 0.25rem 46.3%;
    background-image: linear-gradient(to right, 
      var(--color-back-1) 0%, 
      var(--color-back-1) 45%, 
      var(--color-back-0) 45%, 
      var(--color-back-0) 100%
    );
    transition: border 0.2s;
  }

  .fancy-textarea>label {
    position: absolute;
    top: 2px;
    z-index: 2;
    padding: 0.25rem 0.5rem;
  }

  .fancy-textarea>textarea {
    padding: 2.25rem 0.375rem 0.25rem;
    background-image: linear-gradient(to bottom, 
      var(--color-back-1) 0%, 
      var(--color-back-1) 100%
    );
    background-position: top;
    background-size: 100% 2rem;
    background-repeat: no-repeat;
    transition: border 0.2s;
  }

  .fancy-group {
    border: 2px solid var(--color-back-2);
    background-color: var(--color-back-0);
    background-image: linear-gradient(to bottom, 
      var(--color-back-1) 0%, 
      var(--color-back-1) 100%
    );
    background-position: top;
    background-size: 100% 2rem;
    background-repeat: no-repeat;
    padding: 0.25rem 0.375rem 0.125rem;
  }

  .fancy-group>header {
    margin: 0 0rem 0.5rem;
  }
}
*/

.notification-input>textarea {
  height: 8rem;
}

input.inline-input {
  display: inline-block;
  min-width: 3rem;
  outline: none;
  border-radius: 0;
  border: none;
  border-top: 2px solid transparent;
  border-bottom: var(--border);
  line-height: inherit;
  font-family: inherit;
  color: inherit;
  font-size: 1rem;
  text-align: inherit;
  padding: 0px 0;
}

.super-inline.super-inline {
  border: none;
  border-top: none;
  border-bottom: none;
}

input.inline-input:focus {
  border-bottom-color: var(--color-accent); 
}

input.inline-input[invalid="true"] {
  border-bottom-color: var(--color-bad); 
}

.fancy-selectbox>header {
  border: var(--border);
  background-color: var(--color-back-0);
  padding: 0.25rem 0.5rem;
}

.fancy-selectbox[active="true"]>header {
  border-color: var(--color-accent);
}

.fancy-selectbox>main {
  position: absolute;
  display: none;
  padding: 0.25rem 0.5rem;
  width: 100%;
  top: 110%;
  max-height: 10rem;
  overflow-y: auto;
  z-index: 2;
  border: var(--border);
  box-shadow: var(--shadow);
}

.fancy-selectbox[active="true"]>main {
  display: block;
  background-color: var(--color-back-0);
}
