#app-root {
  --reserved-for-footer: 7.0rem;
  min-height: 100vh;
  padding-bottom: var(--reserved-for-footer); 
}

#app-root>.header {
  position: sticky; top: 0; z-index: 9;
  background-color: var(--color-back-0);
  border-bottom: var(--border);
  overflow: hidden;
}

#app-root>.main>:first-child:not(.bread) {
  margin-top: 1rem;
}

#app-root>.footer {
  background-color: var(--color-back-2);
  color: var(--color-fore-2);
  border-top: var(--border);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--reserved-for-footer);
}

#bread, .bread {
  min-height: 1rem;
  margin-bottom: -2px;
}

#bread .link, .bread .link {
  color: var(--color-fore-1);
}

.clickable, [clickable]:not([clickable="false"]) {
  cursor: pointer;
}

.hr-1 {
  display: block;
  height: 1px;
  background-color: var(--color-accent);
}

.hr-2 {
  display: block;
  height: 2px;
  background-color: var(--color-accent);
}

.hr-3 {
  display: block;
  height: 3px;
  background-color: var(--color-accent);
}

/* More important things */

.inline.inline {
  display: inline;
}

.block {
  display: block;
  width: 100%;
}

.hidden {
  width: 0px;
  height: 0px;
}

.transparent {
  opacity: 0%;
}

.opacity-50 {
  opacity: 50%; 
}

/* margins */
.mar-0.mar-0 {
  margin: 0;
}

.mar-b-0.mar-b-0 {
  margin-bottom: 0;
}

.mar-b-05 {
  margin-bottom: 0.5rem;
}

.margin-bottom,
.mar-b-1 {
  margin-bottom: 1rem;
}

.mar-b-15 {
  margin-bottom: 1.5rem;
}

.mar-b-2 {
  margin-bottom: 2rem;
}

/* padding */
.pad-025 {
  padding: 0.25rem;
}

.pad-05 {
  padding: 0.5rem;
}

.pad-1 {
  padding: 1rem;
}

.pad-15 {
  padding: 1.5rem;
}

.pad-2 {
  padding: 2rem;
}

.pad-h-05 {
  padding: 0 0.5rem;
}

.pad-h-1 {
  padding: 0 1rem;
}

.pad-v-05 {
  padding: 0.5rem 0;
}

.pad-v-1 {
  padding: 1rem 0;
}

.pad-05-1 {
  padding: 0.5rem 1rem;
}

.pad-1-05 {
  padding: 1rem 0.5rem;
}

/* flex spacing */
.flex-spacing-1, .flex-pad-1 {
  column-gap: 1rem;
  row-gap: 1rem;
}

.flex-spacing-05, .flex-pad-05 {
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

/* fixed height */
.height-1 {
  min-height: 1rem;
}

.height-2 {
  min-height: 2rem;
}

.height-10 {
  height: 10rem;
}

.height-15 {
  height: 15rem;
}

.height-20 {
  height: 20rem;
}

/* fixed width */
.width-1 {
  width: 1rem;
}

.width-2 {
  width: 2rem;
}

.width-4 {
  width: 4rem;
}

.width-6 {
  width: 6rem;
}

.width-8 {
  width: 8rem;
}

.width-10 {
  width: 10rem;
}

/* min width */
.min-width-1 {
  min-width: 1rem;
}

.min-width-2 {
  min-width: 2rem;
}

.min-width-4 {
  min-width: 4rem;
}

.min-width-6 {
  min-width: 6rem;
}
